$multi_red: #f64136;
$multi_green: #70a66a;
$multi_blue: #3c75d8;
$alt_multi_blue: #41a5f5;
$card_beige: #f5e9df;
$card_lightbeige: #fcf4ed;
$text_greybrown: #765e5b;
$unselectedtext_beige: #d5ada6;
$text_brown: #876765;
$text_darkbrown: #473837;
$dark-multi-blue: #554e83;

$ff: 'Lato', sans-serif;
$ff-alt: 'Source Sans Pro', sans-serif;

$transition: all .2s ease;